$container: 1170px;
$backround-gradient: linear-gradient(90deg, #2d1686 0%, #4e33b5 100%);
$btn-size: 16px 60px;
$white-color: #fff;
$advantages-palite-color: #2e2d35;
$advantages-text-color: #474351;
$advantages-item-bg-color: #f6f5f9;
$advantages-item-border-radius: 6px;
